*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
/* -------------------------- */
header {
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  height: 170px;
  position: relative;
}

header img{
  height: 50%;
  position: absolute;
  bottom: 8px;
  left: 32px;
}
/* -------------------------- */


/* MAIN */
/* -------------------------- */
/* Metto un margine di 20px a tutto il mio container */
.container{
  margin: 20px;
  position: relative;
}

.title-article h1{
  font-size: 36px;
}

/* sezione authore e descrizione */
/* -------------------------- */
.author{
  color: #7f8080;
}

.author p{
  margin-bottom: 8px;
}

.author p a{
  color: #4ea0ff;
}

.author p a:visited{
  color: #4ea0ff;
}

.img-description{
  font-size: 12px;
}
/* -------------------------- */

/* sezione testo articolo*/
/* -------------------------- */

.text-article{
  margin: 20px 0px;
  font-weight: 500;
}

ul{
  margin-top: 20px;
  margin-left: 20px;
}

/* -------------------------- */


/* sezione tabella */
/* -------------------------- */
table{
  border: 2px solid black;
  width: 100%;
  border-spacing: 0px;
}

td.col1, td.col2{
  width: 25%;
}

td.col3{
  width: 50%;
}

th {
  text-align: left;
  padding: 8px 0px;
  background-color: #23a9e5;
  color: white;
}

td{
  padding: 8px 0px;
}

tr:nth-child(odd) {
  background-color: #b1e5f2;
}

/* -------------------------- */

/*sezione articoli consigliati*/
/* -------------------------- */
.list-article{
  margin-top: 20px;
}

.list-article p{
  color: #7f8080;
  font-weight: 700;
}

.other-articles{
  position: relative;
}

.other-articles p{
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  font-weight: 700;
}

/* -------------------------- */


/* FINE MAIN */
/* -------------------------- */


