body{
  margin: 0;
  padding: 0;
}

/* HEADER */
/* -------------------------- */
header {
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  height: 170px;
  position: relative;
}

header img{
  height: 50%;
  position: absolute;
  bottom: 10px;
}
/* -------------------------- */


/* MAIN */
/* -------------------------- */
.container{
  margin: 20px;
}

table{
  border: 2px solid black;
}
/* -------------------------- */