*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
/* -------------------------- */
header {
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: 500px;
}

.logo{
  width: 1100px;
  margin: 0 auto;
}

.logo img{
  width: 200px;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
}
/* -------------------------- */


/* MAIN */
/* -------------------------- */

/* main{
  position: relative;
} */

.container{
  /* Metto un margine di 20px a tutto il mio container */
  margin: 20px;

  /* parte di css per centrare il container */
  /* -------------------------- */
  width: 1100px;
  margin: 0 auto;

  /* position: absolute;
  left: 50%;
  transform: translate(-50%,0); */
  /* -------------------------- */
}

.title-article h1{
  font-size: 36px;
}

/* sezione authore e descrizione */
/* -------------------------- */
.author{
  color: #7f8080;
}

.author p{
  margin-bottom: 8px;
}

.author p a, .author p a:visited{
  color: #4ea0ff;
}

.img-description{
  font-size: 12px;
}
/* -------------------------- */

/* sezione testo articolo*/
/* -------------------------- */

.text-article{
  margin: 20px 0px;
}

.mark{
  background-color: #e4e467;
}

ul{
  margin-top: 20px;
  margin-left: 20px;
}


/* -------------------------- */


/* sezione tabella */
/* -------------------------- */
table{
  width: 100%;
  border-spacing: 0px;
}

td.small{
  width: 25%;
}

td.big{
  width: 50%;
}

th {
  text-align: left;
  padding: 8px 0px;
  background-color: #23a9e5;
  color: white;
}

td{
  padding: 8px 0px;
}

tr:nth-child(odd) {
  background-color: #b1e5f2;
}

/* -------------------------- */

/*sezione articoli consigliati*/
/* -------------------------- */
.list-article{
  margin-top: 20px;
}

.list-article p{
  color: #7f8080;
  font-weight: 700;
}

.other-articles{
  position: relative;
}

.other-articles p{
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  font-weight: 700;
}

/* -------------------------- */


/* FINE MAIN */
/* -------------------------- */


